<div class="nav-bar">
    <div class="nav-logo">
        <h1>GreencycleHub ♻️</h1>              
    </div>
    <div class="nav-item">
        <a href="/">หน้าหลัก</a>
        <a href="/">แนะนำการแยกขยะ</a>
        <a href="/">จองคิวรับซื้อขยะ</a>
        <a href="/">ติดตามสถานะ</a>
    </div>
    <div class="nav-icon">
        <button onclick="" style="background: none; border: none; cursor: pointer;">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/128/3031/3031293.png">
            <span>ค้นหา</span>
        </button>
        <button onclick="openNav()" style="background: none; border: none; cursor: pointer;">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/128/1828/1828859.png"> 
            <span>เมนู</span>
        </button>
    </div>
</div>